# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
/archive/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
inst/doc
Meta
*.lock
*.tzx
/output/**/*crabpot*
/output/**/*.csv
/output/*.csv
/output/**/*.rds
/plots/
/testing/*.zip
/assets/data/*.dbv
/assets/data/*.dbp
/assets/data/*.dba
/assets/data/*.dbr
/assets/data/*.dbs
/assets/data/*.dbt
/assets/data/*.exe
/assets/data/*.zic
/assets/data/*.dbh
/assets/data/crabpots/
/assets/edit_crabpot/
*.TzBackup
*.tfw
/assets/data/ex_pots/
/assets/data/ai_grid_100m/
*.tzdb
*.tif
*.tif.aux.xml
*tif.ovr
*.ovr
/assets/data/aigoa_bathp1c/
/assets/data/AFSC_AI_bathy_Files/
*.aux.xml

*_crabpot_*